.board-container {
  background: rgba(255, 255, 255, 0.3);
  overflow-x: auto;
  display: flex;
  height: 100%;
  padding: 16px;
  border-radius: 8px;

  @media screen and (max-width: 425px) {
    overflow-y: auto;
    flex-direction: column;
  }
}
